.card {
	color: $color_2;
	background-color: $background-color_4;
	padding: 20px;
	border-radius: 16px;
	text-align: center;
}
.img-fluid {
	padding-top: 25px;
}
.card-link {
	color: $color_2;
	&:hover {
		color: $color_3;
	}
}
.btn-info {
	background-color: $background-color_5;
	text-align: center;
}