.container-cre {
	margin-left: auto;
	margin-right: auto;
	max-width: 950px;
	width: 100%;
	overflow: hidden;
	padding: 80px 0;
	.main-card {
		display: flex;
		justify-content: space-evenly;
		width: 200%;
		transition: 1s;
		.cards {
			width: calc(100% / 2 - 10px);
			display: flex;
			flex-wrap: wrap;
			margin: 0 20px;
			justify-content: space-between;
		}
	}
	.button {
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 20px;
	}
}
#two {
	&:checked {
		~ {
			.main-card {
				margin-left: -100%;
			}
			.button {
				.one {
					width: 15px;
				}
				.two {
					width: 35px;
				}
			}
		}
	}
}
.main-card {
	.cards {
		.card-cre {
			width: calc(100% / 3 - 10px);
			background: $background-color_8;
			border-radius: 12px;
			padding: 30px;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
			transition: all 0.4s ease;
			&:hover {
				transform: translateY(-15px);
			}
		}
	}
}
.cards {
	.card-cre {
		.content-cre {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			.img {
				height: 130px;
				width: 130px;
				border-radius: 50%;
				padding: 3px;
				background: $background-color_6;
				margin-bottom: 14px;
			}
		}
	}
}
.card-cre {
	.content-cre {
		.img {
			img {
				height: 100%;
				width: 100%;
				border: 3px solid $color_7;
				border-radius: 50%;
				object-fit: cover;
			}
		}
		.name {
			font-size: 20px;
			font-weight: 500;
			color: $color_1;
		}
		.job {
			font-size: 20px;
			color: $color_1;
		}
		.media-icons {
			margin-top: 10px;
			display: flex;
		}
	}
}
.media-icons {
	a {
		text-align: center;
		line-height: 33px;
		height: 35px;
		width: 35px;
		margin: 0 4px;
		font-size: 14px;
		color: $color_2;
		border-radius: 50%;
		border: 2px solid transparent;
		background: $background-color_6;
		transition: all 0.3s ease;
		&:hover {
			color: $color_1;
			background-color: $background-color_1;
		}
	}
}
.button {
	label {
		height: 15px;
		width: 15px;
		border-radius: 20px;
		background: $background-color_4;
		margin: 0 4px;
		cursor: pointer;
		transition: all 0.5s ease;
	}
	label.active {
		width: 35px;
	}
}
#one {
	&:checked {
		~ {
			.button {
				.one {
					width: 35px;
				}
				.two {
					width: 15px;
				}
			}
		}
	}
}
input[type="radio"] {
	display: none;
}

