.creadores {
	width: 100%;
	height: 90vh;
	h1 {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 55px;
		margin-bottom: 5px;
	}
	.creadores-box {
		width: 95%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		top: 13%;
		.perfil {
			width: 320px;
			height: 320px;
			border-radius: 50%;
			margin: 0 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
			transition: 0.4s;
			&:hover {
				border-radius: 20px;
				height: 320px;
				.info {
					top: 60%;
				}
			}
			img {
				width: 250px;
				height: 250px;
				object-fit: cover;
				object-position: center;
				border-radius: 50%;
				box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
				z-index: 2;
				transition: 0.4s;
				&:hover {
					border-radius: 20px;
					margin-top: -230px;
				}
			}
			.info {
				position: absolute;
				text-align: center;
				top: 25%;
				transition: 0.4s;
				.name {
					color: $color_5;
					margin-bottom: 15px;
					.pag {
						width: 70px;
						text-align: center;
						margin: 0 auto 10px;
					}
				}
				.icon-color {
					i {
                        color: $color_1;
						padding-top: 0;
						margin: 0 5px;
						cursor: pointer;
						transition: 0.3s;
						&:hover {
							color: $color_5;
						}
					}
				}
			}
		}
	}
}
.nombre {
	margin-top: -15px;
	margin-bottom: 0;
}
.pag {
	margin-bottom: 30px;
}
h1 {
	padding: 30px;
	text-align: center;
	color: $color_1;
}