@media (max-width:768px) {
	body {
		background-color: $background-color_7;
		color: $color_2;
	}
	.card {
		margin: 0;
		margin-right: auto;
		margin-left: auto;
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container-fluid-c {
		width: auto;
	}

	.card-r {
		margin: 0;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.titulo {
		font-size: 25px;
		background-color: $background-color_6;
		color: $color_2;
		margin-left: 40px;
		margin-right: 40px;
	}

	.img-int {
		width: 450px;
		border-radius: 20px;
	}

	.content-coment {
		font-size: 20px;
		color: $color_2;
	}			

	.content-rec {
		margin-left: 40px;
		margin-right: 40px;
	}
		
	.main-card {
		.cards {
			.card-cre {
				margin: 20px 0 10px 0;
				width: calc(100% / 2 - 10px);
			}
		}
	}
	
	.contacto {
		color: $color_7;
		text-align: center;
	}
}

@media (max-width: 600px) {
	.main-card {
		.cards {
			.card-cre {
				width: 100%;
			}
		}
	}
}
