$color_1: #24252a;
$color_2: #edf0f1;
$color_3: #cee7e6;
$color_4: #fffeeb;
$color_5: #FA7921;
$color_6: rgb(251, 146, 75);
$color_7: #FDFFFC;
$font-family_1: "Montserrat", sans-serif;
$background-color_1: #fffeeb;
$background-color_2: rgba(251, 146, 75,1);
$background-color_3: rgba(251, 146, 75,0.8);
$background-color_4: #fb924b;
$background-color_5: #cee7e6;
$background-color_6: #FA7921;
$background-color_7: #24252a;
$background-color_8: #FDFFFC;